{% comment %} <body>
    <h1>댓글 순 게시글 출력</h1>
    <hr>
    {% for c in com_list %}
        <h3> {{c}}</h3>
    {% endfor %}

    {% for t in title_list %}
        <h3> {{t}}</h3>
    {% endfor %}

    {% for c in cnt_list %}
        <h3> {{c}}</h3>
    {% endfor %}

</body> {% endcomment %}


<body>
    {% comment %} <button type="button" onclick="location.href='ordergood.html'">추천순</button>
    <button type="button" onclick="location.href='orderdate.html'">최신순</button>
    <button type="button" onclick="location.href='ordercom.html'">댓글순</button> {% endcomment %}
    <h1>댓글순 게시글 출력</h1>
    <hr>
    <div class="container" style="display:flex;">
    <table border = '1'>
        <th>게시글 번호</th>

        {% for c in com_list %}
        <tr>
            <td>{{c}}</td>
        </tr>
        {% endfor %}

    </table>
    <table border = '1'>
  
        <th>제목</th>
        {% for t in title_list %}
        <tr>
            <td>{{ t }}</td>
        </tr>
        {% endfor %}

    </table>
    <table border = '1'>

        <th>댓글 수</th>
        {% for c in cnt_list %}
        <tr>
            <td>{{ c }}</td>
        </tr>
        {% endfor %}
    </table>
</body>